html {
    scroll-behavior: smooth;
}
.head {
    width: 100%;
    height: 50px;
    background: linear-gradient(
        white,
        rgb(233, 233, 233)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
body {
    background-color: rgb(243, 248, 253);
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head span {
    color: rgb(160, 160, 8);
}
.bar1, .bar2 {
    width: 3.5px;
    height: 90%;
    background-color: rgb(160, 160, 8);
}
.bar1 {
    transform: rotate(-30deg);
}
.bar2 {
    transform: rotate(30deg);
}
.navigation {
    height: 27.5px;
    width: 100%;
    background: linear-gradient(
    rgb(245, 244, 244),
    rgb(227, 228, 230)
    );
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 10px;
}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.navigation a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(142, 150, 38);
    position: relative;
}
.navigation a:hover {
    margin-top: 2px;
}
.navigation a::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 1.5px;
    background-color: rgb(200, 194, 22);
    position: absolute;
    left: 50%;
    top: 22px;
    transition: width 0.38s ease-in-out;
    transform: translateX(-50%);
}
.navigation a:hover::after {
    width: 80%;
}
.head-img {
    width: 100%;
    height: 630px;
    object-fit: cover;
    z-index: -1;
}
.tint {
    z-index: 3;
    width: 100%;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.318);
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    box-sizing: border-box;
}
#check-trade-container {
    width: 100%;
    height: fit-content;
    border-top: 2px solid black;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    padding: 10px;
    background-color: rgb(251, 252, 242);
    padding-bottom: 100px;
}
.your-offer-crates, .their-offer-crates {
    width: 100%;
    height: fit-content;
    padding: 5px;
    background-color: rgb(207, 215, 234);
    border-radius: 5px;
    padding-bottom: 30px;
}
.their-offer-crates {
    background-color: rgb(230, 198, 196);
}
.line {
    margin-left: 20px;
    margin-right: 20px;
    width: 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.offer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.left {
    margin-right: 30px;
}
.right {
    margin-left: 30px;
}
.search-box, .search-boxO {
    width: 85%;
    height: fit-content;
    margin: 5px;
}
summary {
    cursor: pointer;
}
.search-box img, .search-box img {
    width: 150px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.their-offer-crates details {
    background-color: rgb(236, 140, 140);
}
.breaker {
    margin-top: 50px;
}
.hit-effect {
    display: flex;
    flex-direction: column;
}
.hit-effect-container {
    display: flex;
    width: 105%;
    height: 100%;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 500px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.add {
    cursor: pointer;
    background: repeating-linear-gradient(
        45deg,
        rgb(7, 230, 7) 10% 20%,
        rgb(8, 214, 8) 20% 27%
    );
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.1s linear, bottom 0.2s linear;
    font-family: cursive;
    font-size: 15px;
    position: relative;
}
.add:hover {
    transform: scale(0.95);
    opacity: 0.9;
    bottom: 1px;
}
.add:active {
    transform: scale(0.925);
}
.head-h1 {
    color: white;
    position: relative;
    left: 30px;
}
.head-h1::after {
    content: " With No Ads!";
    font-size: 10px;
    position: relative;
    top: 15px;
    right: 30px;
}
.info-box {
    width: 80%;
    height: 70px;
    background-color: rgb(196, 205, 213);
    border-radius: 6px;
    display: flex;
    padding-top: 30px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}
.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-container h4 {
    margin-top: 0;
}
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.red {
    background-color: rgb(227, 105, 105);
}
.blue {
    background-color: rgb(152, 152, 249);
}
.green {
    background-color: rgb(94, 210, 94);
}
.remove-btn, .remove-btnO {
    background-color: transparent;
    border: 2px solid rgb(246, 43, 43);
    border-radius: 3px;
    color: rgb(246, 43, 43);
    cursor: pointer;
}
.remove-btn:hover {
    color: white;
    background-color: rgb(246, 43, 43);
}
#wfl {
    color: rgb(15, 233, 7);
    background-color: rgb(163, 160, 149);
    width: fit-content;
    position: absolute;
    border-radius: 10px;
    padding: 5px;
}
#clear {
    padding: 7px;
    cursor: pointer;
    background: repeating-linear-gradient(
        45deg,
        rgb(237, 5, 5) 10% 20%,
        rgb(216, 7, 7) 20% 40%
    );
    border-radius: 4px;
    border: 1px solid black;
    transition: transform 0.1s linear;
}
#clear:hover {
    transform: scale(.96);
}
#clear:active {
    transform: scale(.935);
}
.clear-container {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
}
#search, #searchO {
    margin-top: 10px;
    width: 80%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 50px;
    border: 1px solid black;
}
.search-summary {
    color: rgb(86, 171, 58);
    font-size: 25px;
}
.crate-line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 4.5px;
}
.crate-break {
    width: 95%;
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 5px;
}
.crate-break {
    margin-bottom: -30px;
}
.check-scroll-btn {
    padding: 10px 18px;
    font-size: 17px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: -0.7px;
    border: 2px solid black;
    cursor: pointer;
    transition: margin-top 0.2s ease-in;
    border-radius: 5px;
    background: repeating-linear-gradient(
        45deg,
        rgb(183, 210, 5) 5% 15%,
        rgb(207, 232, 16) 15% 25%
    );
}
.check-scroll-btn:hover {
    margin-top: 2px;
    color: white;
}
.small-head {
    width: 100%;
    height: 40px;
    background-color: rgb(228, 228, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.extra-info-container {
    width: 100%;
    height: 300px;
    background: linear-gradient(
    -45deg,
    rgb(242, 242, 242) 10%,
    rgb(254, 251, 251) 10% 90%,
    rgb(242, 242, 242) 90%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.extra-info {
    width: 60%;
    height: 60%;
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}
.extra-info-line {
    width: 70%;
    height: 1px;
    background-color: black;
    margin-top: -20px;
}
.bullet-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bullet-list li, .extra-info p {
    font-size: 10px;
}
.extra-info p {
    margin-top: 50px;
}
.paragraph {
    width: 30%;
    height: 100%;
    margin-left: 10px;
}
.trader-title {
    width: 100%;
    height: 70px;
    background-color: rgb(225, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    border-top: 1px solid black;
}
.foot {
    width: 100%;
    height: 150px;
    background-color: rgb(239, 244, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.foot hr {
    width: 90%;
    margin-top: -15px;
}
.red-text {
    color: red;
    font-weight: 1000;
}
.green-text {
    color: green;
    font-weight: 1000;
}
@media(min-width: 519.19px) {
    .bullet-list li{
        font-size: 15px;
    }
    .paragraph p {
        font-size: 12.5px;
    }
}
@media(max-width: 779.2px) {
    .paragraph p {
        font-size: 10px;
    }
}
@media (max-width: 519.19px){
 #check-trade-container {
    transform: scale(.9);
    margin-top: -30px;
 }
.extra-info-container hr, .extra-info-container p {
    display: none;
}
}
@media (max-width: 451.19px) {
    #check-trade-container {
        transform: scale(.78);
        margin-top: -80px;
    }
}
@media (max-width: 440px) {
    #check-trade-container {
        transform: scale(.6);
        margin-top: -220px;
    }
    .overflow {
        display: none;
    }
}
@media (max-width: 400px) {
    #check-trade-container {
        transform: scale(0.4);
        margin-top: -340px;
    }
    #clear {
        transform: scale(0.8);
    }
    #clear:hover {
        transform: scale(0.76);
    }
    .credits-link {
        display: none;
    }
}
@media (max-width: 1000px) {
    .fixed, .head-img, .tint {
        display: none;
    }
}
.head-warning {
    width: 100%;
    height: 50px;
    background-color: rgb(233, 229, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
}
.warning-paragraph-container {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px;
}
.warning-paragraph-container h4 {
    text-indent: 40px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}